.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-area {
  width: 60%;
}

.github-banner {
  width: 100%;
}

h1 {
  text-decoration: underline;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.container-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0px;
}

@media only screen and (max-width: 767px) {
  .article-area {
    width: 80%;
  }
}